<h2>Sign up</h2>

<%= form_with model: @customers, url: customer_registration_path do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name, autofoucus: true, autocomplete: "last_name" %>
    <%= f.label :first_name %>
    <%= f.text_field :first_name, autocomplete: "first_name" %>
  </div>

  <div class="field">
    <%= f.label :last_name_kana %>
    <%= text_field :last_name_kana, autocomplete: "last_name_kana" %>
    <%= f.label :first_name_kana %>
    <%= text_field :first_name_kana, autocomplete: "first_name_kana" %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :postal_code %>
    <%= text_field :postal_code, autocomplete: "postal_code" %>
  </div>

  <div class="field">
    <%= f.label :address %>
    <%= text_field :address, autocomplete: "address" %>
  </div>

  <div class="field">
    <%= f.label :telephone_number %>
    <%= text_field :telephone_number, autocomplete: "telephone_namber" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class: "btn btn-primary btn-block" %>
  </div>
<% end %>
<h2>既に登録済みの方</h2>
<%= render "public/shared/links" %>
